pip install customtkinter 
pip install pandas 
pip install sqlalchemy 
pip install mysql-connector-python 
pip install seaborn 
pip install reportlab 
pip install weasyprint
pip install pandas
pip install matplotlib
pip install tkcalendar
pip install bcrypt
pip install reportlab
